<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ZohoPeople Smart Tests" preserve-order="true">
    <test name="Smart Tests" preserve-order="true">
        <classes>
            <class name="com.zohopeopleqa.tests.HomePageTest"/>
            <class name="com.zohopeopleqa.tests.LeavePageTest"/>
            <class name="com.zohopeopleqa.tests.ReportsPageTest"/>
            <class name="com.zohopeopleqa.tests.SettingsPageTest"/>
        </classes>
    </test>
</suite>